p {
	color: rgb(191, 94, 230);
}
.eyesear {
	color: red;
}
.nav {
	background-color: gray;
	list-style-type: none;
	text-align: center;
	padding: 20px;

}
.nav li {
	display: inline-block;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;

}
.front-end {
	background-color: orange;
}
.infra {
	background-color: green;
}
.basics {
	background-color: yellow;
}
.future {
	background-color: rgb(191, 94, 230);
}
.meta {
	background-color: rgb(94, 225, 230);
}

